.navbar_main {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  box-shadow: 0 1px 2px -2px black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #af0840ad, #e1ffea22 60%);
}
.navbar_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar_logo img {
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}
.navbar_logo p {
  color: black;
  font-size: 30px;
  font-weight: 500;
  align-items: self-start;
}
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: aqua;
  font-size: 20px;
  font-weight: 500;
}
.navbar_menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.navbar_menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: palevioletred;
}
.login_cart {
  display: flex;
  align-items: center;
  gap: 45px;
}
.login_cart img {
  border-radius: 4px;
  padding: 5px;
  width: 70px;
}
.login_cart button {
  width: 100px;
  height: 58px;
  outline: none;
  border: 1px solid grey;
  border-radius: 75px;
  color: brown;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}
.login_cart button:active {
  background: grey;
}
.navbar-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
  color: white;
}
